// Maps to class co.petrin.ekristijan.Config
{
    port: 8888,
    frontendDistFolder: null
    absoluteUrl: "http://127.0.0.1:8888"
    vapid: {
        subject: "mailto: <developer@example.org>"
        publicKey: "BEFi2MSXd8_BZ13nqEn35XggYPUYXssEjniygu6Wf-JqF_hXhc1qA5PT3aPeKOk49nwJwI1ndvHv4HDFk6hnK7I"
        privateKey: "1OIdkA_4uyRO30aZiVuCBxMQwAxq12V079dnDOlmv_0"
    },
    jwtSymetricPassword: "change mea"
    db: {
        host: "localhost",
        port: 6500,
        user: "ekristjan",
        database: "ekristjan",
        password: "",
    },
    smtp {
        host = "127.0.0.1"
        port = "6090"
        username = "username"
        password = "password"
        fromAddress = "ekristjan@example.org"
        startTLS = false
    }
}