<configuration scan="true" scanPeriod="5 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="io.vertx" level="debug"/>
    <logger name="co.petrin" level="trace" />
    <logger name="org.jooq.tools.LoggerListener" level="info"/> <!-- Set to debug to log SQL execution -->

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>